<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>饿了么算账单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
      .layui-input-block {
        margin-left: 30px;
      }
      #preview_img {
        margin-left: 30px;
      }
    </style>
  </head>
  <body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
      <legend>请上传饿了么账单截图：</legend>
    </fieldset>
     
     <!-- 上传图片 -->
    <div class="layui-upload">
      <!-- <form class="layui-form" action="{{ url_for('get_bill') }}" method="GET"> -->
      <form class="layui-form" method="GET">
        <div class="layui-form-item">
          <div class="layui-input-block">
            <div class="layui-btn-container">
              <button type="button" class="layui-btn" id="upload_button">上传账单截图</button>
              <button type="button" class="layui-btn layui-btn-normal" id="get_bill_button" lay-submit lay-filter="*">生成账单</button>
            </div>
          </div>
        </div>
      </form>
      <div class="layui-upload-list">
        <img class="layui-upload-img" id="preview_img" width="300px"> 
        <p id="demoText"></p>
      </div>
    </div>

    <div id="ele_bill" style="display: none;">
      <fieldset id="check_bill" class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>查看账单：</legend>
      </fieldset>
      <div id="bill_table" style="margin: 15px 15px 15px 15px;">
        <table class="layui-table" lay-even="" lay-skin="nob">
          <caption style="margin-bottom: 10px;" id="table_title"></caption>
          <thead id="bill_table_thead">
            <tr>
              <th>乘客</th>
              <th>原价(￥)</th>
              <th>现价(￥)</th>
            </tr>
          </thead>
          <tbody id="bill_table_tbody">
          </tbody>
        </table>
      </div>
    </div>

    <script src="/static/layui.js" charset="utf-8"></script>
    <script src="/static/jquery-3.5.1.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <!-- 上传图片js -->
    <script>
      layui.use('upload', function(){
        var $ = layui.jquery
        ,upload = layui.upload;
        
        //普通图片上传
        var uploadInst = upload.render({
          elem: '#upload_button'
          ,url: 'http://127.0.0.1:5000/upload' //改成您自己的上传接口
          ,before: function(obj){
            //预读本地文件示例，不支持ie8
            obj.preview(function(index, file, result){
              $('#preview_img').attr('src', result); //图片链接（base64）
            });
          }
          ,done: function(res, index, upload){
            //如果上传失败
            if(res.code > 0){
              return layer.msg('上传失败');
            }
            //上传成功
            if(res.code == 0) {
              layer.open({
                title: '上传结果'
                ,content: '恭喜你上传成功~'
              });
            }
          }
          ,error: function(){
            //演示失败状态，并实现重传
            var demoText = $('#demoText');
            demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
            demoText.find('.demo-reload').on('click', function(){
              uploadInst.upload();
            });
          }
        });
      })
    </script>
    
    <!-- 生成账单js -->
    <script>
      $('#get_bill_button').click(function () {
        $('#table_title').empty()
        $('#bill_table_tbody').empty()
        $.ajax({
          url: "{{ url_for('get_bill') }}",
          type: "GET",
          dataType: "json",
          success: function (res) {
            $('#preview_img').css('display', 'none');
            $('#ele_bill').css('display', 'inline');
            total = res['total_order']
            store = res['store']
            addition = res['addition']
            discount = res['discount']
            guests = res['guests']
            $('#table_title').prepend(store)
            tbody_html = ''
            for(var i=0; i<guests.length; i++) {
              guest = guests[i]
              tbody_html += '<tr><td>'+guest['author']+'</td><td>'+guest['order_price']+'</td><td>'+guest['actual_price']+'</td></tr>'
            }
            $('#bill_table_tbody').append(tbody_html)
          }
        })
      })
    </script>

  </body>
</html>